/* styles.css */


h1, h2 {
    color: white; 
    text-align: center; 

}


.navbar {
    background-color: #1E90FF; 
}

.navbar-nav .nav-link {
    color: #FFFFFF; 
}

img {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#content .card .card-img-top {
    width: 10%;  /* Adjust as needed */
    height: auto;  /* Maintain aspect ratio */
}

#content {
    background-color: #1E90FF; 
    color: white; 
    padding: 20px;
    margin: 20px auto; 
    width: 50%; 
    text-align: center; 
}

#resume h3, h4{
    color: white; 
    text-align: center; 
}

#contact {

    text-align: center; 
}

#resume{
    background-color: #1E90FF; 
    color: white; 
    padding: 20px;
    margin: 20px auto; 
    width: 50%; 
    padding-bottom: 20px;

}

footer {
    background-color: #1E90FF; 
    color: #FFFFFF; 
    text-align: center; 
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}